<div class="question-messages"></div>

<div class="edit-form">
  <h1>Edit question</h1>
  <%= form_for @question, remote: true do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :body, 'Text' %>
    <%= f.text_field :body %>
    <%= f.submit 'Edit' %>
  <% end %>
</div>