<h1>List of questions</h1>

<% @questions.each do |question| %>
  <p>
    <%= question.title %>
    <%= question.body %>
    <% if current_user && current_user.owner_of?(question) %>
      <%= link_to 'Delete question', question, method: :delete  %>
      <%= link_to 'Edit question', edit_question_path(question)  %>
    <% end %>
  </p>
<% end %>

<%= link_to 'Ask question', new_question_path %>