<h1><%= @question.title %></h1>
<h1><%= @question.body %></h1>

<h3>Answers</h3>
<div class="answers">
  <%= render @question.answers %>
</div>
<% if current_user %>
  <h1>New answer</h1>
  <div class="answer-messages"></div>
  <%= form_for [@question, Answer.new], remote: true do |f|%> 
    <%= f.label :body, 'Answer' %>
    <%= f.text_field :body %>
    <%= f.submit 'Create' %>
  <% end %>
<% end %>
